.footer {
  display: inline-flex;
  height: 330px;
  width: 330px;
}
footer img {
  height: 330px;
  width: 330px;
}

.popular {
  display: inline-flex;
}

nav li {
  display: inline;
  position: relative;
  margin-right: 0;
  border-right: 2px solid grey;
  padding-right: 10px;
}

nav {
  float: right;
  margin-right: 230px;
}
footer nav li:last-child {
  border-right: 0;
}
.header {
  background-image: url("http://lorempixel.com/image_output/nature-q-g-1920-1920-5.jpg");
  overflow: hidden;
  width: 81.25rem;
  height: 32.7rem;
}

.popular {
  width: auto;
}

.header h1 {
  font-family: 'open sans', 'sans-serif';
  font-size: 10rem;
  height: 525px;
  color: white;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
