* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/Oswald-Regular.ttf);
}


header {
  background-image: url("http://lorempixel.com/image_output/abstract-q-g-1920-480-10.jpg");
  overflow: hidden;
  width: 100%;
  height: 36rem;
  background-color: green;
}

header section {
  height: 100%;
}
/*
header div:nth-child(an+b) {
  color: yellow;
}*/

.fa-tint:before {
    content: "\f043";
    padding-right: 1.3rem;
}

.logo {
  float: left;
  color: white;
  height: 10%;
  width: 20%;
  margin-left: 10.3rem;
  padding-top: 0.5rem;
  }

.logo i {
  font-size: 3.7rem;
  vertical-align: middle;
}
.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: -0.17rem;
}

.topCaption h1 {
  /*font-family: 'OpenSans';*/
  font-size: 7rem;
  letter-spacing: -0.5rem;
  height: 25%;
  width: 100%;
  padding-top: 10.4rem;
  margin: 0 auto;
  color: white;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.topCaption h4 {
  color: white;
  margin: 0 auto;
  width: 24%;
  padding-left: 0.7rem;
}

.topnav {
  float: right;
  margin-right: 20.7%;
  margin-top: -1.3%;
}

.topnav li {
  display: inline;
  color: white;
  font-size: 1.3rem;
  letter-spacing: -0.1rem;
}
.middle {
  /*height: 69rem;*/
  background-color: pink;
}
.middle div {
  border-bottom: 1px solid gray;
  height: 69rem;
  width: 100%;
  display: inline-flex;
  margin: 0 auto;

}
.popular div:nth-child(2){
  height: 21.7rem;
  /*border: 1rem solid yellow;*/
}

.popular h1 {
  font-family: 'Oswald';
  text-align: center;
  font-size: 4.2rem;
  margin: 0 auto;
  display: inline-block;
  height: 8.3rem;
  width: 100%;
  max-width: 100%;
  letter-spacing: 0.08rem;
  padding-top: 2rem;
}
.popular div img {
  width: 25%;
  height: auto;
  max-width: 25%;
  float: left;
}

.popular img {
  border-style: none;
  height: auto;
  width: 100%;
}

footer {
  display: inline-flex;
  height: 6.5rem;
  width: 100%;
  background-color: orange;
}
footer div {
  margin: 0 auto;
  width: 60%;
}

.copyright i {
  font-size: 4rem;
  padding-top: 1rem;
  padding-left: 6.7rem;
}
.copyright h4 {
  margin-top: -2.5rem;
  padding-left: 10.5rem;
  letter-spacing: -0.06rem;
}

footer div:last-child {
  border-right: 0;
}

footer li {
  display: inline;
  position: relative;
  margin-right: 0;
  border-right: 2px solid grey;
  padding-right: 10px;
  height: 6.49rem;
}
