* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/Oswald-Regular.ttf);
}


header {
  background-image: url("http://lorempixel.com/image_output/abstract-q-c-1920-1920-10.jpg");
  overflow: hidden;
  width: 100%;
  height: 36rem;
}

header section {
  height: 100%;
}
/*
header div:nth-child(an+b) {
  color: yellow;
}*/

.fa-tint:before {
    content: "\f043";
    padding-right: 1.3rem;
}

.logo {
  float: left;
  color: white;
  height: 10%;
  width: 20%;
  margin-left: 10.3rem;
  padding-top: 0.5rem;
  }

.logo i {
  font-size: 3.7rem;
  vertical-align: middle;
}
.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: -0.17rem;
}

.topCaption h1 {
  font-size: 7rem;
  letter-spacing: -0.5rem;
  height: 25%;
  width: 100%;
  padding-top: 14.1rem;
  margin: 0 auto;
  color: white;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.topCaption h4 {
  color: white;
  position: relative;
  top: 3.5rem;
  left: .35rem;
  margin: 0 auto;
  width: 24%;
}

.topnav {
  position: relative;
  float: right;
  top: -1.5rem;
  right: 1rem;
}

.topnav li {
  font-family: 'Oswald';
  display: inline;
  color: white;
  font-size: 1.3rem;
  letter-spacing: -0.005rem;
  padding-right: 6%;
}

.middle {
  background-color: pink;
  height: 69.2rem;
}

article {
  background-color: green;
  height: 100%;
  width: 66.45%;
}

.articleTitle {
  margin: 0 auto;
  font-family: 'Oswald';
}

.articleTitleTop h1 {
  font-family: 'Oswald';
  padding-top: 0rem;
  font-size: 4.35rem;
  padding-left: 11.15rem;
  float: left;
  margin-top: 3.4rem;
  letter-spacing: -0.03rem;
}
.articleTitleBottom h1 {
  position: relative;
  top: -7.9rem;
  font-family: 'Oswald';
  padding-top: 0rem;
  font-size: 4.35rem;
  padding-left: 11.15rem;
  float: left;
  margin-top: 3.4rem;
}
.author {
  background-color: orange;
    position: relative;
    top: 14.781rem;
    right: 37rem;
    display: inline;
}
.timeStamp {
  background-color: yellow;
  display: inline-flex;
  position: relative;
  top: 2rem;
  left: -27.8rem;
  font-size: 0.9rem;
}

.aside {
  position: relative;
  height: 69.2rem;
  width: 30.2rem;
  background-color: orange;
  bottom: 69.2rem;
  left: 59.2rem;
}

.profile {
    background-color: red;
    height: 18.5rem;
    width: 19.1rem;top: -69.2rem;
    left: 59.2rem;
    position: relative;
}

.surfer {
    background-color: blue;
    width: 19.1rem;
    height: 25rem;
    position: relative;
    bottom: 69.2rem;
    left: 59.2rem;
}

.sectionHeading {
    background-color: magenta;
    height: 14rem;
    width: 19.1rem;
    position: relative;
    bottom: 69.2rem;
    left: 59.2rem;
}
.popular div:nth-child(2){
  height: 21.7rem;
  /*border: 1rem solid yellow;*/
}

.popular {
  height: 10rem;
}
.popular h1 {
    font-size: 4.3em;
    margin: auto;
    height: 10.1rem;
    width: 41rem;
    padding-top: 1.6rem;
    padding-left: 1.1rem;
    font-family: 'Oswald';
    font-weight: 400;
  }

/*.pop1 {
  background-image: url("http://www.placecage.com/c/300/307");
}
.pop2 {
  background-image: url("http://www.placecage.com/g/300/307");
}
.pop3 {
  background-image: url("http://www.placecage.com/300/307");
}
.pop4 {
  background-image: url("http://www.placecage.com/300/307");
}*/
.popular div img {
  width: 25%;
  height: auto;
  max-width: 25%;
  float: left;
}

.popular img {
  border-style: none;
  height: auto;
  width: 100%;
}

footer {
  display: inline-flex;
  height: 6.5rem;
  width: 100%;
  background-color: orange;
}
footer div {
  margin: 0 auto;
  width: 60%;
}

.copyright i {
  font-size: 4rem;
  padding-top: 1rem;
  padding-left: 6.7rem;
}
.copyright h4 {
  margin-top: -2.5rem;
  padding-left: 10.5rem;
  letter-spacing: -0.06rem;
}

nav ul {
    position: relative;
    right: 9.6rem;
    top: 1.6rem;
}
footer div:last-child {
  border-right: 0;
}

footer li {
  display: inline;
  position: relative;
  margin-right: 0;
  border-right: 2px solid grey;
  padding-right: 10px;
  height: 6.49rem;
}
