@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/Oswald-Regular.ttf);
}


.header {
  background-image: url("http://lorempixel.com/image_output/nature-q-g-1920-1920-5.jpg");
  overflow: hidden;
  width: 100%;
  height: 36rem;
}
.header h1 {
  font-family: 'Oswald';
  font-size: 6.5rem;
  letter-spacing: -0.2rem;
  height: 100%;
  margin: 0 auto;
  color: white;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.middle {
  height: 10rem;
  background-color: pink;
}
.middle div {
  border: 5px solid yellow;
  height: 10rem;
  width: 20%;
  display: inline-flex;
  margin: 0 auto;
}
.popular {
  float: left;
  max-width: 100%;
}

footer nav li:last-child {
  border-right: 0;
}

.footer {
  display: inline-flex;
  height: 330px;
  width: 330px;
}

footer img {
  height: 330px;
  width: 330px;
}

nav li {
  display: inline;
  position: relative;
  margin-right: 0;
  border-right: 2px solid grey;
  padding-right: 10px;
}

nav {
  float: right;
  margin-right: 230px;
}
