.footer {
  display: inline-flex;
  height: 330px;
  width: 330px;
}
footer img {
  height: 330px;
  width: 330px;
}

.popular {
  display: inline-flex;
}

nav li {
  display: inline;
  position: relative;
  margin-right: 0;
  border-right: 2px solid grey;
  padding-right: 10px;
}

nav {
  float: right;
  margin-right: 230px;
}
footer nav li:last-child {
  border-right: 0;
}
